<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>352503968807-khj1q5qh4e8kb00u49llpfeu1bs722e7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.352503968807-khj1q5qh4e8kb00u49llpfeu1bs722e7</string>
	<key>API_KEY</key>
	<string>AIzaSyA8k5MHztia8Hpcg0tu_zxy4xUnNtLreao</string>
	<key>GCM_SENDER_ID</key>
	<string>352503968807</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialNetworkAppMobile</string>
	<key>PROJECT_ID</key>
	<string>push-notification-95768</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-95768.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:352503968807:ios:eb88579e4275147044ca02</string>
</dict>
</plist>